body{
    margin: 0px;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.blcok{
    width: 500px;
    height: 100px;
    background: rgb(200, 200, 200);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#icon{
    width: 50px;
    height: 50px;
    background: url(../img/red.svg);
}
.blocks{
    display: flex;
    flex-direction: column;
}
#rangeinput{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 320px;
    height: 20px;
    -webkit-appearance: none;
    margin: 10px 0;
    border-radius: 10px;
    padding: 0px 5px;
    background: red;
}
#rangeinput:focus,
#rangeinput:hover{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 20px;
    -webkit-appearance: none;
    margin: 10px 0;
    outline: none;
}
#rangeinput::-webkit-slider-thumb {
    box-shadow: 1px 4px 10px #aa9900;
    border: 2px solid #e5de83;
    height: 30px;
    width: 6px;
    background: #939643;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
}
@keyframes anim_icon {
    0%{
        transform:matrix(1.00,0.00,0.00,1.00,0,0);
        -ms-transform:matrix(1.00,0.00,0.00,1.00,0,0);
        -webkit-transform:matrix(1.00,0.00,0.00,1.00,0,0);
    }
    50%{
        transform:matrix(-1.00,0.00,-0.00,-1.00,0,0);
        -ms-transform:matrix(-1.00,0.00,-0.00,-1.00,0,0);
        -webkit-transform:matrix(-1.00,0.00,-0.00,-1.00,0,0);
    }
    100%{
        transform:matrix(1.00,-0.001,0.001,1.00,0,0);
        -ms-transform:matrix(1.00,-0.001,0.001,1.00,0,0);
        -webkit-transform:matrix(1.00,-0.001,0.001,1.00,0,0);
    }
}
.dashes{
    width: 132px;
    height: 20px;
    margin-left: ;
}
#rangeoutput{
    margin-right: auto;
    padding: 3px 10px;
    border-radius: 10px;
    background: red;
    color: white;
    font-family: cursive;
}
.dash_1,
.dash_2{
    float: left;
    box-shadow: 1px 4px 10px #aa9900;
    border: 2px solid #e5de83;
    height: 20px;
    width: 6px;
    background: #939643;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
    box-sizing: border-box;
}
.dash_2{
    right: 0px;
}